body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #111827;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 60px 20px;
}

.hero {
    padding: 100px 20px;
}
